    <div class="card bg-danger text-white">
        <div class="card-body">Delete Author</div>
    </div>
    <div class="delete-details">
        <div class="card" *ngIf="author">
            <div class="card-body">
                <h5 class="card-title">{{author.lastName}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">by {{author.id}}</h6>
                <h1>
                    {{author.firstName}}
                </h1>
                <button [routerLink]="['/authors']" class="btn btn-default"> Back </button>
                <button (click)="deleteAuthor(author.id)" class="btn btn-success"> Approve </button>
            </div>
        </div>
    </div>