<h1>Categories</h1>
<p *ngIf="!categories"><b>Loading...</b></p>
<table class="table table-striped" *ngIf="categories">
<thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let category of categories">
      <td>{{ category.name }}</td>
      <td>{{ category.description | slice: 0:70 }}...</td>
      <td width="16%">
        <button type="button" class="btn btn-info btn-sm" (click)="showCategory(category.id)">Show</button>
        <button type="button" class="btn btn-success btn-sm" (click)="updateCategory(category.id)">Update</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteCategory(category.id)">Delete</button>
      </td>
  </tr>
</tbody>
</table>