/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.body-wrapper {
  padding: 0 20px 0 20px;
}

.finder{
  padding-top: 40px;
  color:#1861ac;
}
.welcome{
  padding-bottom:20px;
  padding-top: 15px;;
}

.book-title{
  color:#1861ac;
  font-size:20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.book-isbn{
  color: #333333;
  font-size: 12px;
  font-style: italic;
}

.container{
  padding-top:15px;
}
.book-details{
  padding: 0px 10px 10px 10px;
}
.book-description{
  font-size:14px;
}
.input-search{
  display: grid;
  justify-content: center;
}