    <div class="card bg-danger text-white">
        <div class="card-body">Delete Book</div>
    </div>
    <div class="delete-details">
        <div class="card" *ngIf="book">
            <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">by {{book.author}}</h6>
                <p>
                    {{book.description}}
                </p>
                <button [routerLink]="['/books']" class="btn btn-default"> Back </button>
                <button (click)="deleteBook(book.id)" class="btn btn-success"> Approve </button>
            </div>
        </div>
    </div>