<h1>Authors</h1>
<p *ngIf="!authors"><b>Loading...</b></p>
<table class="table table-striped" *ngIf="authors">
<thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>BirthDate</th>
    <th>Actions</th>

  </tr>
</thead>
<tbody>
  <tr *ngFor="let author of authors">
      <td>{{ author.lastName }}</td>
      <td>{{ author.firstName }}</td>
      <td>{{ author.birthDate | date: "dd/MM/yyyy" }}</td>
      <td width="16%">
        <button type="button" class="btn btn-info btn-sm" (click)="showAuthor(author.id)">Show</button>
        <button type="button" class="btn btn-success btn-sm" (click)="updateAuthor(author.id)">Update</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteAuthor(author.id)">Delete</button>
      </td>
  </tr>
</tbody>
</table>