
<div class="row" align="center" id="searching" class="finder">
  <div class="input-search" >
      <form class="form-inline" >
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
  </div>
  <div class="col-md-12" class="welcome">
    <h2>List of Books</h2>
  </div>
</div>

<p *ngIf="!books"><b>Loading...</b></p>
  <div class="container">
  <div *ngFor="let book of books" class="row">
      <div class="col-md-2" align="center">
          <img src="../../assets/images/book_blue.png">
      </div>
      <div class="col-md-10 book-details" align="left"> 
        <div class="row book-title" >
            {{ book.title }}
            
        </div>
        <div class="row book-isbn">
          {{ book.isbn }}
        </div>
        <div class="row book-description" >
            {{ book.description | slice: 0:150}}
        </div>
        
      </div>
  </div>
</div>
