<div class="update-book">
    <div class="card bg-info text-white">
          <div class="card-body">Update Book</div>
    </div>
    <form [formGroup]="updateBookForm" (ngSubmit)="onSubmit()" class="title-form">
      <div class="form-group">
          <label for="title" class="required">Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Book title">
      </div>
      <div class="form-group">
          <label for="author" class="required">Author</label>
          <input type="number" class="form-control" id="author" formControlName="author" placeholder="Book author">
      </div>
      <div class="form-group">
          <label for="description" class="required">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description" placeholder="Book description">
      </div>
      <div class="form-group">
          <label for="category" class="required">Category</label>
          <input type="number" class="form-control" id="category" formControlName="category" placeholder="Book Category">
      </div>
      <div class="form-group">
          <label for="isbn" class="required">Isbn</label>
          <input type="text" class="form-control" id="isbn" formControlName="isbn" placeholder="Book ISBN">
      </div>

<div class="row">
  <div class="col-md-4 col-xs-4 col-sm-4">
    <button class="btn btn-success" type="submit" >Update</button>
    <button class="btn btn-default" [routerLink]="['/books']" >Cancel</button>
  </div>
</div>
</form>
</div>

